<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>SaveEntry</servlet-name>
    <servlet-class>com.nealford.art.schedvelocity.controller.SaveEntry</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>/velocity.properties</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ScheduleEntry</servlet-name>
    <servlet-class>com.nealford.art.schedvelocity.controller.ScheduleEntry</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>/velocity.properties</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>viewschedule</servlet-name>
    <servlet-class>com.nealford.art.schedvelocity.controller.ViewSchedule</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>/velocity.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveEntry</servlet-name>
    <url-pattern>/saveentry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScheduleEntry</servlet-name>
    <url-pattern>/scheduleentry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewschedule</servlet-name>
    <url-pattern>/viewschedule</url-pattern>
  </servlet-mapping>
</web-app>
